:root {
  --banner-width: 600px;
  --banner-height: 200px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.banner {
  width: var(--banner-width);
  height: var(--banner-height);
  margin-bottom: 2vh;
}

.text-input {
  height: 50vh;
  width: var(--banner-width);
  border: solid;
  margin-bottom: 1vh;
}

.input-form{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
