* {
  font-family: "sans-serif";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  row-gap: 1vh;
}


a {
  color: black;
  align-self: center;
  font-weight: bold;
}

#name {
  font-size: 5em;
}

#visite {
  font-size: 1.2em;
}

#corpus {
  font-size: 3em;
  text-decoration: underline;   
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}

.search-bar {
  border-style: solid;
  border-width: 1px;
  border-color: black;

  margin-bottom: 1vh;
  width: 55vw;
  height: 30px;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  font-weight: bolder;
  height: 10vh;

  border-style: solid;
  border-width: 1px;
  border-color: black;
}

#simple-search-button {
  background-color: black;
  color: white;
}

#complex-search-button {
  background-color: black;
  color: white;
}

#SOM-search {
  background-color: white;
  width: 31vw;
}
