* {
  font-family: "sans-serif";
}
.mini-search {
  display: grid;
  grid-template-columns: 15vw auto;
  width: fit-content;
  height: fit-content;
}

.search-form {
  align-self: start;
  display: flex;
  flex-direction: row;
  gap: 1vw;
  margin-top: 25px;
}

.information {
  color: black;
  align-self: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  align-self: start;
}

#name {
  font-size: 3.5em;
  color: black;
  text-decoration: underline;
}

#visite {
  font-size: 1.05em;
  margin-top: 20px;
  margin-bottom: 10px;
}

#corpus {
  font-size: 1.1em;
  text-decoration: underline;
}

#simple-search-button {
  background-color: black;
  color: white;
  border-bottom-color: white;
}

#complex-search-button {
  background-color: black;
  color: white;
}

#search-bar {
  width: 70vw;
  border-style: solid;
  border-width: 1px;
  border-color: black;
  height: 30px;
}

body {
  margin-top: 5vh;
  margin-left: 5vw;
  margin-right: 0;
}

button {
  font-weight: bolder;
  height: 5vh;
  width: 15vw;

  border-style: solid;
  border-width: 1px;
  border-color: black;
}

.result:hover {
  background: rgba(0, 0, 0, 0.05);
}

.result {
  display: grid;
  grid-template-columns: 100px auto;
  margin-bottom: 30px;
}

.results-section {
  margin-left: 10vw;
}

.som {
  width: 100px;
  height: 100px;
}

.result-payload {
  display: flex;
  flex-direction: column;
}

.result-header {
  display: flex;
  flex-direction: column;
}

.related-text {
  margin-top: 20px;
  white-space: nowrap;
}

.result-title {
  color: black;
  font-weight: bold;
}

.related-text-best {
  font-weight: bold;
}
.result-payload p {
  text-overflow: ellipsis;
}
