:root {
  --page-gap: 5vh;
  --som-size: 50vh;
}

.results-section {
  margin-right: var(--page-gap-right);
  margin-left: var(--page-gap-right);
}

.result {
  display: flex;
  flex-direction: row;
  margin-bottom: 2vh;
}

.som img {
  width: var(--som-size);
}
.result-payload {
  display: flex;
  flex-direction: column;
}

body {
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.header {
  background-color: blue;
  margin-bottom: 2vh;
  height: 4vh;
}

.header * {
  color: white;
}

.result:hover {
  background: rgba(0, 0, 0, 0.05);
}

.result-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 1vh;
}
.abstract {
  text-overflow: ellipsis;
  overflow: hidden;
  max-height: 10%;
}
