{{define "search-input"}}
<form class="input-form" id="input-form" method="POST">

    <div class="input-form-button-section">
        {{if .Page.IsRencontreEnVoyage}}
        <button type="submit" formaction="/entendu_en_voyage" class="entendu-en-voyage"></button>
        <button type="submit" formaction="/rencontre_en_voyage" class="rencontre-en-voyage-previous-search"></button>
        <button type="submit" formaction="/clefs_canoniques" class="clef-canonique"></button>
        {{else if .Page.IsEntenduEnVoyage}}
        <button type="submit" formaction="/entendu_en_voyage" class="entendu-en-voyage-previous-search"></button>
        <button type="submit" formaction="/rencontre_en_voyage" class="rencontre-en-voyage"></button>
        <button type="submit" formaction="/clefs_canoniques" class="clef-canonique"></button>
        {{else}}
        <button type="submit" formaction="/entendu_en_voyage" class="entendu-en-voyage"></button>
        <button type="submit" formaction="/rencontre_en_voyage" class="rencontre-en-voyage"></button>
        <button type="submit" formaction="/clefs_canoniques" class="clef-canonique"></button>
        {{end}}
    </div>
    <div class="search-bar-container">
        <textarea name="text" class="search-bar" spellcheck="true">{{.Query}}</textarea>
        {{if or .Page.IsEntenduEnVoyage .Page.IsAccosteEnVoyage}}
        <p>Nombre de résultats: {{.NResult}}</p>
        {{end}}

        {{if .Page.IsAccosteEnVoyage}}

        {{$styleAuthor := "none"}}
        {{$author := .HostArticle.Author}}
        {{if eq $author "" }}
        {{$styleAuthor := "italic"}}
        {{$author = "auteur non disponible"}}
        {{end}}

        {{$styleYear := "none"}}
        {{$year := .HostArticle.Year}}
        {{if eq $year 0 }}
        {{$styleYear := "italic"}}
        {{$year = "année de parution non disponible"}}
        {{end}}

        {{$styleJournal := "none"}}
        {{$journal := .HostArticle.Journal}}
        {{if eq $journal "" }}
        {{$styleJournal := "italic"}}
        {{$journal = "journal non disponible"}}
        {{end}}
        <p>Articles similaires à:
            {{if eq .HostArticle.Url ""}}
            <span class="result-title">{{.HostArticle.Title}}</span>
            {{else}}
            <a href={{.HostArticle.Url}} target="_blank" rel="noopener noreferrer" title={{.HostArticle.Title}}
                class="result-title">{{.HostArticle.Title}}</a>
            {{end}}

            <span class="description smaller-text">(<span style="font-style:{{$styleAuthor}};">{{$author }}</span>,
                <span style="{{$styleYear}}">{{$year}}</span>, <span
                    style="{{$styleJournal}}">{{$journal}}</span>)</span>
        </p>
        {{end}}
    </div>

</form>
{{end}}