{{define "search-input"}}
<form class="input-form" id="input-form" method="POST">

    <div class="input-form-button-section">
        {{if .Page.IsRencontreEnVoyage}}
        <button type="submit" formaction="/entendu_en_voyage" class="entendu-en-voyage"></button>
        <button type="submit" formaction="/rencontre_en_voyage" class="rencontre-en-voyage-previous-search"></button>
        <button type="submit" formaction="/clefs_canoniques" class="clef-canonique"></button>
        {{else if .Page.IsEntenduEnVoyage}}
        <button type="submit" formaction="/entendu_en_voyage" class="entendu-en-voyage-previous-search"></button>
        <button type="submit" formaction="/rencontre_en_voyage" class="rencontre-en-voyage"></button>
        <button type="submit" formaction="/clefs_canoniques" class="clef-canonique"></button>
        {{else}}
        <button type="submit" formaction="/entendu_en_voyage" class="entendu-en-voyage"></button>
        <button type="submit" formaction="/rencontre_en_voyage" class="rencontre-en-voyage"></button>
        <button type="submit" formaction="/clefs_canoniques" class="clef-canonique"></button>
        {{end}}
    </div>
    <div class="search-bar-container">
        <textarea name="text" class="search-bar" spellcheck="true">{{.Query}}</textarea>
        {{if or .Page.IsEntenduEnVoyage .Page.IsAccosteEnVoyage}}
        <p>Nombre de résultats: {{.NResult}}</p>
        {{end}}

        {{if .Page.IsAccosteEnVoyage}}
        <p>Articles similaires à: <a href={{.HostArticle.Url}} target="_blank" rel="noopener noreferrer" title={{.HostArticle.Title}}
                class="result-title">{{.HostArticle.Title}}</a>

            <span class="description smaller-text">(<span style="font-style:{{.HostArticleAuthorStyle}};">{{.HostArticle.Author}}</span>,
                {{.HostArticle.Year}}, {{.HostArticle.Journal}})</span>
        </p>
        {{end}}
    </div>

</form>
{{end}}