[submodule "text-analysis-service"]
	path = text-analysis-service
	url = https://github.com/erudit-recommandation/text-analysis-service.git
[submodule "initialisation-service"]
	path = initialisation-service
	url = https://github.com/erudit-recommandation/initialisation-service.git
