<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Nemo</title>
    <link rel="stylesheet" href="static/stylesheets/homepage.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="main">
        <div class="title">
            <span id="name">Nemo</span>
            <span id="visite">visite</span>
            <select form="input-form" name="corpus">
                <option value="{{.DefaultCorpus}}" selected>{{.DefaultCorpus}}</option>
                {{range $el:=.AllCorpus}}
                <option value="{{$el}}">{{$el}}</option>
                {{end}}
            </select>
            <span class="corpus" form="input-form"></span>
        </div>
        {{template "search-input" .}}
    </div>

    <div class="foot">
        <a id="vaisseau" href="/vaiseau">— le vaisseau —</a>
        <a id="remerciements" href="/remerciements">— remerciements —</a>
    </div>
</body>

</html>