@import "input_form.css";

* {
  font-family: "Cabin", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foot {
  display: flex;
  flex-direction: column;
  margin-top: 20vh;
  row-gap: 1vh;
  position: absolute;
  bottom: 0px;
  top: 70vh;
}

a {
  color: black;
  align-self: center;
  font-weight: bold;
}

#name {
  font-size: 5em;
}

#visite {
  font-size: 1.2em;
}

#corpus {
  font-size: 3em;
}

#corpus:hover {
  text-decoration: underline;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20vh;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: bolder;
}
a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
